body {
    background-color: red;
}
.forecast {
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.detailedForecast {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: 100px;
  }
  
    .formattedDate {
      font-size: 30px;
      font-weight: bold;
    }



    .forecast-summaries {
        display: grid;    
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-between;
        margin-top: 100px;

    
    }
    
    
    .each-box {
        display: grid;
        justify-content: space-around;
    }